@import "tailwindcss";

@theme {
  --color-vibrant-pink: #febd59;
  --color-accent-gold: #ec1380;
  --color-off-black: #1E1E1E;
  --color-medium-gray: #555555;
  --color-light-gray: #FDF2F2;

  --font-sans: "Rubik", sans-serif;
  --font-body: "Rubik", sans-serif;
}