---
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/Header.astro';
---

<Layout title="Account | The Latina Sweat Project">
  <Header />
  <main>
     <div data-mariana-integrations="/account"></div>
  </main>
</Layout>