---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import CheckInApp from "../components/CheckInApp.svelte";
---

<Layout title="Volunteer Check-in | The Latina Sweat Project">
    <Header />
    <main class="min-h-screen bg-gray-50">
        <div class="py-12">
            <CheckInApp client:load />
        </div>
    </main>
</Layout>
