---
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/Header.astro';
---

<Layout title="Pricing | The Latina Sweat Project">
  <Header />
  <main>
    <div data-mariana-integrations="/buy/48717"></div>
  </main>
</Layout>