---
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/Header.astro';
---

<Layout title="Pricing | The Latina Sweat Project">
  <Header />
  <main>
    <div class="my-8 px-4 text-center">
      <p class="text-vibrant-pink">
        Trouble viewing pricing options or making a purchase below?
        <a
          href="https://latinasweatproject.marianatools.com/?_mt=/buy/48717"
          target="_blank"
          rel="noopener noreferrer"
          class="font-semibold underline transition hover:text-accent-gold">Open in a new window.</a
        >
      </p>
    </div>
    <div data-mariana-integrations="/buy/48717"></div>
  </main>
</Layout>