---
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/Header.astro';
---

<Layout title="Schedule | The Latina Sweat Project">
  <Header />
  <main>
    <div data-mariana-integrations="/schedule/daily/48541?locations=48717"></div>
  </main>
</Layout>